/**
 * @file
 * CSS styles for lib hours
 *
 * @author Sean Watkins <slwatkins@uh.edu>
 * @copyright 2011 University of Houston Libraries (http://info.lib.uh.edu)
 */

.library_hours-dow-checkboxes {
  display: inline-block;
  width: 100%;
}
.library_hours-dow-checkboxes .form-checkboxes {
  float: left;
}
.library_hours-dow-checkboxes .form-checkboxes .form-option {
  float: left;
  width: 100px;
}
#library_hours-content {
  float: left;
  padding-top: 10px;
  width: 900px;
}
#library_hours-locations {
  float: left;
  margin-top: 55px;
  padding-right: 0px;
  width: 210px;
}
#library_hours-locations #library_hours-location-list {
  cursor: pointer;
  font-size: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 205px;
}
#library_hours-locations #library_hours-location-list .library_hours-location {
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  padding: 3px 0 7px 7px;
  text-overflow: ellipsis;
  white-space: none;
  width: 202px;
}
#library_hours-locations #library_hours-location-list .library_hours-location:hover {
  font-weight: bold;
}
#library_hours-locations #library_hours-location-list .library_hours-location.selected {
  background: url('img/library_hours-location-arrow.png') no-repeat;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#library_hours-locations #library_hours-location-list .library_hours-location.selected:hover {
  font-weight: normal;
}
#library_hours-locations #library_hours-location-list .library_hours-location.library_hours-child {
  padding-left: 15px;
  width: 195px;
}
#library_hours-periods {
  float: left;
  width: 690px;
}
#library_hours-periods-tabs {
  cursor: pointer;
  float: left;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}
#library_hours-periods-tabs li {
  background-color: #f9f9f9;
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
  border-top: 1px solid #bababa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #000;
  float: left;
  padding: 5px;
  width: 100px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}
#library_hours-periods-tabs li:hover {
  background-color: #efefef;
}
#library_hours-periods-tabs li.selected {
  background-color: #c00;
  background-image: -moz-linear-gradient(top, #c00c00, #990a00);
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #c00c00), color-stop(1, #990a00));
  border-left: 1px solid #990a00;
  border-right: 1px solid #990a00;
  border-top: 1px solid #990a00;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px -1px 0px #990a00;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c00c00', EndColorStr='#990a00')";
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}
#library_hours-periods-tabs li.selected:hover {
  background-color: #c00;
}
#library_hours-periods-tabs li .library_hours-name {
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#library_hours-periods-tabs li .library_hours-daterange {
  font-size: .9em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
#library_hours-periods .library_hours-view {
  background-color: #fff;
  border: 1px solid #990a00;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 2px 2px .5em #d9d9d9;
  display: none;
  float: left;
  min-height: 275px;
  padding: 20px;
  width: 648px;
  -moz-border-radius: 5px;
  -moz-border-radius-topleft: 0;
  -moz-box-shadow: 2px 2px .5em #d9d9d9;
  -webkit-border-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -webkit-box-shadow: 2px 2px .5em #d9d9d9;
}
#library_hours-periods .library_hours-view.selected {
  display: inline;
}
#library_hours-periods .library_hours-stdhours {
  float: left;
  font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  min-height: 165px;
  width: 330px;
}
#library_hours-periods .library_hours-stdhours ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
#library_hours-periods .library_hours-stdhours .library_hours-name {
  background-color: #efefef;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 5px 5px 7px;
}
#library_hours-periods .library_hours-stdhours .library_hours-hour {
  float: left;
  width: 330px;
}
#library_hours-periods .library_hours-stdhours .library_hours-hour .library_hours-dow {
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  width: 129px;
}
#library_hours-periods .library_hours-stdhours .library_hours-hour .library_hours-time {
  color: #666;
  float: left;
  font-size: 16px;
  padding: 4px;
  width: 177px;
}
#library_hours-periods .library_hours-exceptions {
  background-color: #f9f9f9;
  border: 1px solid #999;
  color: #333;
  float: right;
  font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  line-height: 1.5em;
  min-height: 165px;
  width: 300px;
}
#library_hours-periods .library_hours-exceptions .library_hours-name {
  background-color: #999;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
  padding: 3px 3px 8px 13px;
}
#library_hours-periods .library_hours-exceptions .library_hours-hour {
  font-size: 14px;
  padding: 4px;
}
#library_hours-periods .library_hours-exceptions .library_hours-hour ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#library_hours-periods .library_hours-exceptions .library_hours-hour .library_hours-label {
  font-weight: bold;
  text-transform: uppercase;
  width: 290px;
}
#library_hours-periods .library_hours-exceptions .library_hours-hour .library_hours-time {
  padding-left: 10px;
  width: 280px;
}
#library_hours-periods .library_hours-locationdescription {
  float: left;
  height: 20px;
  max-height: 20px;
  padding: 20px 10px 10px 10px;
  width: 640px;
}
#library_hours-periods .library_hours-disclaimer {
  border-top: 1px solid #000;
  bottom: 0px;
  float: left;
  font-size: 12px;
  padding-top: 10px;
  width: 660px;
}
